<div className='primaryCard'>
                <h2>Little Lemon</h2>
                <p>Chicago</p>
                <p>Le meilleiur restaurant aux saveurs internationales </p>
                <button type="submit">Reserver en ligne</button>
                <img src={restauranfood} alt="Restaurant food" />
            </div>
            <div className='primaryCard'>
                  <h2>Les plats de la semaine</h2>
                  <button type="submit">Menu en ligne</button>
                  <div className='secondaryCard'>
                        <img src={restauranfood} alt="Restaurant food" />
                        <h3>plat 1</h3>
                        <h4>500 Gnf</h4>
                        <p>description</p>
                  </div>
                   <div className='secondaryCard'>
                        <img src={restauranfood} alt="Restaurant food" />
                        <h3>plat 2</h3>
                        <h4>600 Gnf</h4>
                        <p>description 2</p>
                  </div>
                   <div className='secondaryCard'>
                        <img src={restauranfood} alt="Restaurant food" />
                        <h3>plat 2</h3>
                        <h4>600 Gnf</h4>
                        <p>description 2</p>
                  </div>
            </div>
            <div className='primaryCard'>
                  <h2>Temoignages</h2>
                   <div className='secondaryCard2'>
                        <h3>notation</h3>
                        <img src={restauranfood} alt="Restaurant food" />
                        <h4>usrname</h4>
                        <p>Commentaire</p>
                  </div>
                   <div className='secondaryCard2'>
                        <h3>notation</h3>
                        <img src={restauranfood} alt="Restaurant food" />
                        <h4>usrname</h4>
                        <p>Commentaire</p>
                  </div>
            </div>
            <div className='primaryCard'>
                <h2>Little Lemon</h2>
                <p>"Sed ut perspiciatis unde omnis iste natus error
                sit voluptatem accusantium doloremque laudantium,
                totam rem aperiam, eaque ipsa quae ab illo inventore
                veritatis et quasi architecto beatae vitae dicta
                sunt explicabo.”</p>
                <img src={restauranfood} alt="Restaurant food" />
                <img src={restauranfood} alt="Restaurant food" />
            </div>